
<div class="form">
  <header>
  <h4>TODO List</h4>
  <h5>A place to store the things you need to do!</h5>
  </header>
  <input type="text" 
  placeholder="Filter your to-dos" 
  [(ngModel)]="filterText" name="filter" 
  (input)="filterTasks()"  >
  <div>
  <ol>
      
       <li *ngFor="let task of filteredTasks; let i = index"   
         [ngClass]="{crostext: task.completed}" >
         <button class="comletebutton" 
         *ngIf="!task.completed" 
         (click)="completeTask(task)" >
         Complete</button>
         <span>{{task.task}}</span>
         <button type="submit"  class="remove" 
         (click)="removeTask(i)" >X</button>
        </li>
  </ol>
  </div>
  <input name="task" type="text" placeholder="Add your to do" 
  [(ngModel)]="newTask">
  <div>
  <button type="button" class="add" 
  (click)="addTask()">Add</button>
</div>
</div>
